*{padding:0; margin:0; font-family: 'Fira Sans', sans-serif; position:relative;}
li,ul,ol{list-style: none;}
html, body{width:100%; height:100%;}
body {overflow-x: hidden;}
a:link {text-decoration: none; }
a:visited{color: black;}
::selection {background-color: black; color: white;}
::placeholder {color: white;}
.clear {clear:both;}
.wrap {width: 100%; height:100%;}



/*헤더*/
header {width: 100%; position: fixed; z-index: 10; top: 0px; 
    left: 0px;}
.menu {width: 100%; height: 80px; display: flex; align-items: center;
    background-color: black; margin: 0 auto;}
.menu>a {margin-left: 70px; top: -2px;}
.menu>a>h1 {line-height: 100px; color: white;}
.menu>ul {width: 100%; display: flex; line-height: 100px;}
.menu>ul>a>li {color: white; left: 40px; text-transform: uppercase; 
    margin: 0 40px;  display: flex; align-items: center; 
    justify-content: center;}
.menu>ul>a>li>ul {width: 150px; position: absolute; top: 80px; left: -15px; 
    display: none; padding: 0 20px;}
.menu>ul>a>li>ul>li {line-height: 50px; background: black; padding: 0px 20px; left: -20px; display: flex; transition: 0.3s;}
.menu>ul>a>li>ul>li:nth-child(1) {padding-top: 10px;}
.menu>ul>a>li>ul>li:nth-child(3) {padding-bottom: 0px;}


/*섹션1 타이틀*/
.section1 {width: 100%; height: 100vh; overflow: hidden;}
.sec1_bg {width: 100%; height: 100%; position: absolute; top: 0px; left: 0;}
.title_font {width: 100%; height: 100%;; display: flex; 
    align-items: center; justify-content: center; flex-direction: column; position: absolute; top: 140px; left: 0;}
.title_font1 p {font-size: 16px; color: #ffffff; text-transform: none; text-shadow: 0 0 1px; line-height: 24px; }
.title_btn {width: 50px; height: 50px; display: flex; align-items: center; 
    justify-content: center; flex-direction: column; position: absolute; 
    bottom: 1vh; left: calc(50% - 25px); animation: btn 2s infinite forwards;}
.title_btn>img:nth-child(1) {top: 5px;}

@keyframes btn{
    0% {bottom: 1vh;}
    50% {bottom: 2vh;}
    100% {bottom: 1vh;}
}

.sec1_bgg {min-width: 100%; min-height: 100%; }

.title_logo2 {color: white; font-size: 66px; width: 100%; height: 100%; 
    display: flex; align-items: center; justify-content: center;
    position: absolute; top: -50px; left: 0;}
.title_logo2 h1 {text-shadow: 0 0 10px red;}
.title_font2 p {font-size: 16px; color: #ffffff; text-transform: none; text-shadow: 0 0 1px; line-height: 24px; top: -90px; font-family: 'Nanum Gothic';}




/*섹션2 다운로드*/
.section2 {width: 100%; height: 350px; background: #040404; padding-bottom: 20px;
    margin-bottom: 0px;}
.sec2_img {width: 100%; height: 350px; display: flex; align-items: center; 
    justify-content: center;}
.sec2_img img {opacity: 1; top: -20px;}
.sec2_img span {width: 100%; height: 100%; opacity: 0.6; background: black; 
    position: absolute; top: 0; left: 0; transition: 0.5s;}
.sec2_font {width: 100%; height: 350px; display: flex; align-items: center; 
    justify-content: center; position: absolute; top: 120px; left: 0;}
.sec2_font p {font-size: 20px; color: white; width: 250px; margin: 0 20px;
    line-height: 60px; text-align: center; border: 1px solid #966044;
    text-transform: uppercase;}



/*섹션3 스토리*/
.section3 {width: 100%; height: 700px;}
.sec3_title {width: 300px; height: 50px; position: absolute;
    top: 30px; left: calc(50% - 150px); z-index: 1; 
    display: flex; align-items: center; justify-content: center;}
.sec3_title h1 {color: white; font-size: 40px; 
    text-shadow: 0 0 5px black;}
.sec3_title span {width: 20px; height: 2px; background: white; 
    margin: 10px; box-shadow: 0 0 5px black;}

.sec3_box {width: 100%; height: 100%; position: absolute; top: 0; left: 0;
}
.sec3_box1 {}
.sec3_box2 {}
.sec3_box3 {}
.sec3_img {width: 100%; height: 100%; position: absolute; top: 0; left: 0;
     background-repeat: no-repeat; background-position: center center; background-size: cover;}
.sec3_img1 {background-image: url(img/2.jpg);}
.sec3_img2 {background-image: url(img/2_1.jpg);}
.sec3_img3 {background-image: url(img/2_2.jpg);}

.sec3_text {width: 600px; height: auto; 
    position: absolute; left: 200px; top: calc(50% - 130px); 
    color: white;}
.sec3_text>h1 {line-height: 80px; font-size: 60px; text-shadow: 0 0 3px black;}
.sec3_text>p {line-height: 20px; text-shadow: 0 0 3px black;}
.sec3_btnLift {width: 50px; height: 50px; position: absolute;
    top: calc(50% - 25px); left: 50px; z-index: 1; color: white;
    font-size: 50px; cursor: pointer; transition: 0.3s;
    text-shadow: 0 0 3px black;}
.sec3_btnRight {width: 50px; height: 50px; position: absolute;
    top: calc(50% - 25px); right: 50px; z-index: 1; color: white;
    font-size: 50px; cursor: pointer; transition: 0.3s; 
    text-shadow: 0 0 3px black;}

.sec3_btnLift:hover {font-size: 55px;}
.sec3_btnRight:hover {font-size: 55px;}

.sec3_bottom {width: 100%; height: 80px; background: black; 
    position: absolute; bottom: 0; left: 0;}
.sec3_bottom ul {width: 100%; height: auto; display: flex; 
    align-items: center; justify-content: center;}
.sec3_bottom ul li {color: white; line-height: 80px; margin: 0 30px;
    cursor: pointer; font-size: 20px; transition: 0.5s;}



/*섹션4 플레이 가이드*/
.section4 {width: 100%; height: 600px;}
.sec4_title {width: 100%; display: flex; align-items: center; 
    justify-content: center; margin-top: 100px; margin-bottom: 10px;}
.sec4_title>h1 {color: black; font-size: 40px; line-height: 80px; 
        margin: 0 10px; text-transform: uppercase;}
.sec4_title>span:nth-child(1) {width: 20vw; height: 1px; background: black;}
.sec4_title>span:nth-child(3) {width: 20vw; height: 1px; background: black;}
.sec4_box {width: 100%; display: flex; justify-content: center; 
    align-items: center;}
.sec4_box>div {margin: 0 20px; display: flex; align-items: center; 
    justify-content: center; flex-direction: column;}
.sec4_box>div>a:nth-child(1)>img {display: block; width: 100%; 
    transition: 0.5s; height: 100%;}
.sec4_box>div>a:nth-child(1) {overflow: hidden;}
.sec4_box>div>a:nth-child(1)>p {display: none;}
.sec4_box>div>a:nth-child(1)>span {display: none;}
.sec4_box>div>a:nth-child(1)>p:nth-child(2) {color: white; 
    width: 100%; height: auto; text-transform: uppercase; 
    text-align: center; position: absolute; top: calc(50% - 30px); 
    left: 0; font-size: 18px; font-weight: 300; z-index: 1;}
.sec4_box>div>a:nth-child(1)>p:nth-child(3) {color: white; 
    width: 100%; height: auto; text-transform: uppercase; 
    text-align: center; position: absolute; top: calc(50% - 10px);  
    left: 0; font-size: 30px; font-weight: 300; z-index: 1;}
.sec4_box>div>a:nth-child(1)>span {width: 100%; height: 100%; 
    background: rgba(0,0,0,0.5); position: absolute; top: 0; left: 0;}

.sec4_box>div>a:nth-child(2)>p {color: black; font-size: 26px; 
    line-height: 50px; border: 1px solid black; margin-top: 20px; 
    width: 200px; text-align: center; transition: 0.5s;
    text-transform: uppercase;}
.sec4_box>div>a:nth-child(2)>span {width: 100%; height: 100%; 
    color: black; opacity: 0.7;}
.sec4_box>div>a:nth-child(2)>p span {width: 100%; height: 0px; 
    background: black; position: absolute; bottom: 0; left: 0; 
    transition: 0.3s; z-index: -1;}
/*효과 넣을거*/
.sec4_box>div>a:nth-child(1):hover>img {transform: scale(1.1);}
.sec4_box>div>a>p:hover span {height: 100%;}
.sec4_box>div>a:nth-child(2):hover>p {color: white;}



/*섹션5 픽시드 이미지*/
.section5 {width: 100%; height: 400px; overflow: hidden;
    margin-top: 50px; }
.vid {min-width: 100%; min-height: 100%; position: absolute; top: -80px; 
    left: 0; }
.sec5_text {position: absolute; top: 0; left: 0; width: 100%; height: 400px;
    display: flex; align-items: center; justify-content: center; 
    flex-direction: column; color: white; text-align: center;}
.sec5_text>h1 {font-size: 46px; text-transform: uppercase; 
    margin-bottom: 10px;}
.sec5_text>p {font-size: 20px; line-height: 30px;}
.sec5_bg {width: 100%; height: 10px; position: absolute; bottom: 0px; 
    left:0; background: black; }




/*섹션6 기술설명*/
.section6 {width: 100%; background: black;}
.sec6_title {width: 100%; text-align: center; display: flex; align-items: center; 
    justify-content: center;}
.sec6_title>h1 {font-size: 40px; padding: 30px 0; background: black; color: white;}
.sec6_title span:first-child {width: 15vw; height: 2px; background: white; margin-right: 30px;}
.sec6_title span:last-child {width: 15vw; height: 2px; background: white; margin-left: 30px;}
.sec6_boxs {width: 100%; display: flex; align-items: center; 
    justify-content: center; flex-wrap: wrap;}
.sec6_box {display: flex; align-items: center; justify-content: center; 
    flex-direction: column; margin: 10px 10px; margin-bottom: 50px;}
.sec6_box>h1 {font-size: 30px; text-transform: uppercase; color: white; 
    line-height: 50px; margin-top: 10px;}
.sec6_box>p {color: white; text-align: center;}
.sec6_btn {width: 100%; display: flex; align-items: center; justify-content: center; color: white; padding-bottom: 80px; margin-top: 20px;}
.sec6_btn>a>p {font-size: 26px; border: 2px solid white; padding: 10px 40px;
    cursor: pointer; z-index: 1;}
.sec6_btn>a>span {width: 0%; height: 3px; background: red; position: absolute; z-index: 0;
    bottom: 8px; left: calc(50% - 35%); transition: 0.5s;}
.sec6_btn>a:hover span{width: 70%;}




/*섹션7 뮤비*/
.section7 {width: 100%; height: 1080px; background: black;}
.sec7_title {width: 100%; display: flex; align-items: center; 
    justify-content: center; flex-direction: column; color: white; 
    text-align: center; z-index: 1;}
.sec7_title h1 {font-size: 46px; line-height: 80px;}
.sec7_title span {width: 400px; height: 2px; background: white;}
.sec7_move {width: 100%; height: 100%; top: -120px;}
.vod {position: absolute;top: 0; left: 0; min-width: 100%; min-height: 100%;}
.sec7_font {width: 240px;  top: 745px; left: 40px;}
.sec7_font p {color: white;}
.sec7_font p:first-child {font-size: 36px; line-height: 70px;}
.sec7_font p:nth-of-type(2) {font-size: 16px; line-height: 30px;}
.sec7_font span {width: 220px; height: 1px; background: white; position: absolute; 
    top: 35px; left: -10px;}
.sec7_text {color: white; text-align: center; top: 650px;}
.sec7_text h1 {font-size: 36px; text-transform: uppercase; line-height: 60px;}
.sec7_text p {font-size: 16px; line-height: 24px;}
.sec7_btn {width: 100%; color: white; position: absolute; 
    top: 990px; display: flex; justify-content: center;}
.sec7_btn p { width: 300px; font-size: 26px; border: 2px solid white; 
    padding: 10px 40px;text-align: center;}




/*섹션8 갤러리*/
.section8 {width: 100%; margin-top: 200px; margin-bottom: 200px;}
.sec8_title {width: 100%;text-align: center; margin-bottom: 30px; display: flex;
    align-items: center; justify-content: center;}
.sec8_title h1 {font-size: 36px; text-transform: uppercase;}
.sec8_title span {width: 300px; height: 2px; background: black;}
.sec8_title span:nth-child(1) {margin-right: 30px;}
.sec8_title span:nth-child(3) {margin-left: 30px;}
.sec8_boxs {width: 1200px; margin: 0 auto;}
.sec8_box {width: 400px; height: 300px; float: left; overflow: hidden;
    cursor: pointer;}
.sec8_box img {width: 100%; }
.sec8_box>span {width: 100%; height: 0%; background: rgba(0,0,0,0.8);
    position: absolute; bottom: 0px; left: 0; overflow: hidden;
    transition: 0.3s;}
.sec8_box>span>p {position: absolute; left: 0; width: 100%; 
    text-align: center; color: white; text-transform: uppercase;}
.sec8_box>span>p:nth-child(1) {font-size: 24px; bottom: -10px;}
.sec8_box>span>p:nth-child(2) {font-size: 18px; bottom: -40px;}


/*푸터*/
footer {width: 100%; height: 500px; background: black;}
.foot_wrap {width: 1200px; height: 100%;  
    margin: 0 auto;}
.foot_wrap>h1 {width: 100%; line-height: 110px; text-align: center; 
    color: white; font-size: 55px;}

.foot_join {width: 50%; height: 300px; float: left; display: flex; 
    align-items: center; justify-content: center; flex-direction: column;
    border-right: 1px solid white; box-sizing: border-box;}
.foot_join>h1 {color: white; font-size: 100px;}
.foot_join>div {color: white; font-size: 30px; display: flex; 
    margin-top: 10px; cursor: pointer;}
.foot_join>div>i {margin-right: 20px; top: 5px;}
.foot_join>div>p {color: red; transition: 0.3s;}
.foot_join>div>p:hover {color: white;}

.foot_follow {width: 50%; height: 300px; float: left; display: flex; 
    align-items: center; justify-content: center; flex-direction: column;
    left: -40px;}
.foot_follow>h1 {color: white; font-size: 55px; top: 0px; margin-top: 40px;}
.foot_follow>ul {color: white;}
.foot_follow>ul>li {display: flex; line-height: 40px; font-size: 20px; cursor: pointer;}
.foot_follow>ul>li>i {margin-right: 15px; top: 12px;}
.foot_follow>ul>li>p {color: red; transition: 0.3s;}
.foot_follow>ul>li>p:hover {color: white;}

.cop {width: 100%; color: white; margin: 0 auto; height: auto;
    border-top: 1px solid white; position: absolute; bottom: 0; left: 0;}
.cop p {line-height: 70px; text-align: center; font-size: 16px; font-weight: 100;}


