* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

li, ul, ol {
    list-style: none;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: black;
}

::selection {
    background-color: black;
    color: white;
}

::placeholder {
    color: white;
}

.clear {
    clear: both;
}

.wrap {
    width: 100%;
}


/* 헤더 - 네비게이션 */
header {
    width: 100%;
    height: 80px;
    background-color: black;
    position: fixed;
    z-index: 900;
    transition: 0.5s;
}

header nav {
    max-width: 1250px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-size: 14px;
    display: flex;
    align-items: center;
}

header ul {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 0px;
}

header ul li span {
    margin-right: 20px;
    color: white;
}

.logo a {
    margin-right: 30px;
    display: flex;
}

.firstNav a {
    margin-right: 30px;
    display: flex;
    color: white;
    transition: 0.5s;
}

.lastNav {
    position: absolute;
    right: 0;
}

.lastNav a {
    margin-right: 20px;
    display: flex;
    color: white;
    transition: 0.5s;
}

.firstNav a:hover {
    color: #ea2328;
}

.lastNav a:hover {
    color: #ea2328;
}

.ham {
    color: white;
    display: none;
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.ham_pop {
    width: 100vw;
    height: 100vh;
    position: absolute;
    right: 0;
    background-color: black;
    z-index: 999;
    display: flex;
    align-items: center;
    display: none;
}

.ham_pop ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    padding-top: 10px;
}

.ham_pop ul li {
    padding-bottom: 20px;
}

.ham_pop ul li a {
    color: white;
    transition: 0.5s;
}

.ham_close {
    color: white;
    position: absolute;
    right: 10px;
    display: none;
    cursor: pointer;
}

.ham_pop ul li a:hover {
    color: #ea2328;
}



/* 모든 섹션 공통 */
/* 섹션 타이틀 골드 작대기 */
.sec_title {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto 25px;
}

.sec_title h1 {
    background-color: white;
    z-index: 1;
}

.sec_title span {
    width: 80px;
    height: 2px;
    background-color: #cdb383;
    display: inline-block;
    position: absolute;
    top: 16px;
    left: -10px;
    transform: rotate(-45deg);
}


/* 섹션1 - 메인 이미지 */
/* 공통 */
.section1_main {
    width: 100%;
    height: 750px;
    background-color: black;
    overflow: hidden;
    padding-top: 80px;

}

.carousel-inner {
    width: 100%;
    height: 100%;
}

.main_box {
    width: 100%;
    height: 100%;
}

.main_img {
    max-width: 1250px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.main_img ul {
    width: 450px;
    padding: 0px;
    position: absolute;
}

.main_img ul li {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main_img ul li:nth-child(2) {
    color: white;
    margin-bottom: 20px;
    font-size: 14px;
    letter-spacing: 0.25px;
    text-shadow: 1px 1px 5px black;
    line-height: 23px;
}

.main_img ul li a {
    color: white;
    line-height: 40px;
    padding: 0 40px;
    background-color: #ea2328;
    border-radius: 5px;
    box-sizing: border-box;
    transition: 0.5s;
}

.main_img ul li a:hover {
    background-color: #b01527;
    color: #cbcbcb;
    transition: 0.5s;
}

.main_nav {
    max-width: 100%;
    width: 100%;
    height: 50px;
}

.main_nav div {
    width: 450px;
    display: flex;
    justify-content: center;
}


/* 섹션1 - 따로 */
.main_box1 {
    background-image: url("../imgs/main1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    /*animation: main_box_img infinite 20s ;*/
}

/*@keyframes main_box_img{*/
/*    0%{transform: scale(1);}*/
/*    50%{transform: scale(1.05);}*/
/*    100%{transform: scale(1);}*/
/*}*/

.main_img1 ul {
    top: 190px;
}

.main_img1 ul li img {
    margin-bottom: 25px;
}

.main_box2 {
    background-image: url("../imgs/main2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.main_img2 ul {
    top: 190px;
}

.main_img2 ul li img {
    margin-bottom: 10px;
}

.main_box3 {
    background-image: url("../imgs/main3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.main_img3 ul {
    top: 190px;
}

.main_img3 ul li img {
    margin-bottom: 10px;
}


/* 섹션2 최신정보 */
.section2_news {
    width: 100%;
    height: 100%;
    margin-top: 80px;
}

.sec2_title {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto 25px;
}

.sec2_title h1 {
    background-color: white;
    z-index: 1;
}

.sec2_title span {
    width: 80px;
    height: 2px;
    background-color: #cdb383;
    display: inline-block;
    position: absolute;
    top: 16px;
    left: -10px;
    transform: rotate(-45deg);
}

.sec2_itemBox {
    max-width: 1250px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.sec2_itemBox1 {
    margin-bottom: 40px;
}

.sec2_item {
    overflow: hidden;
}

.sec2_item a {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.sec2_item img {
    width: 100%;
    transition: 0.5s;
    box-shadow: 1px 1px 10px black;
}

.sec2_item a:hover img {
    transform: scale(0.95);
    transition: 0.5s;
}

.sec2_item1 {
    width: 403px;
}

.sec2_item2 {
    width: 403px;
}

.sec2_item3 {
    width: 403px;
}

.sec2_item4 {
    width: 480px;
}

.sec2_item5 {
    width: 750px;
}

.sec2_item ul {
    padding: 0;
}

.sec2_item a ul li:nth-child(1) {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.25px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.sec2_item a ul li:nth-child(2) {
    font-size: 14px;
    letter-spacing: 0.25px;
}


/* 섹션3 유튜브 */
.section3_trailer {
    width: 100%;
    height: 550px;
    margin-top: 80px;
    background-color: black;
}

.sec3_box {
    max-width: 1250px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sec3_items1 {
    max-width: 850px;
    width: 100%;
    height: 100%;
}

.sec3_item {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.sec3_vod {
    width: 100%;
    height: 80%;
    transform: scale(1.1);
    cursor: pointer;
}

.sec3_item_black {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: black;
    opacity: 0.3;
}

.sec3_item_play {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.sec3_item_play img {
    cursor: pointer;
    width: 100px;
    height: 100px;
    top: -30px;
}


.sec3_title {
    margin-top: 20px;
}

.sec3_title h1 {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.5px;
    color: #fff;
    padding-bottom: 3px;
}

.sec3_title p {
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 0.5px;
    color: #a6a29f;
}

.sec3_items2 {
    max-width: 370px;
    width: 100%;
    height: 450px;
    overflow: auto;
    margin-left: 20px;
}

.sec3_board {
    width: 100%;
    height: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.sec3_board_img {
    width: 180px;
    height: 100%;
    background-color: white;
    transition: 0.5s;
}

.sec3_board_img img {
    width: 100%;
    height: 100%;
}

.sec3_board_img1 {
    background-image: url("https://img.youtube.com/vi/2VJXoVeGgzc/mqdefault.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sec3_board_img2 {
    background-image: url("https://img.youtube.com/vi/8mMBtYNMeC0/mqdefault.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sec3_board_img3 {
    background-image: url("https://img.youtube.com/vi/pk-tzsXqFDA/mqdefault.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sec3_board_img4 {
    background-image: url("https://img.youtube.com/vi/hrfJ4jnqdOw/mqdefault.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sec3_board_img5 {
    background-image: url("https://img.youtube.com/vi/5UGY3EkP6JU/mqdefault.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sec3_board_title {
    width: 145px;
    color: #6c6c6c;
    letter-spacing: 0.5px;
    transition: 0.5s;
}

.sec3_board_title p {
    font-size: 14px;
    transition: 0.5s;
}

.sec3_board:hover .sec3_board_img {
    transition: 0.5s;
}

.sec3_board:hover .sec3_board_title {
    color: white;
    transition: 0.5s;
}


/* 섹션4 영화추천 */
.section4_characters {
    margin-top: 80px;
    width: 100%;
}

.sec4_box {
    max-width: 1250px;
    width: 100%;
    height: 400px;
    margin: 0 auto;
    display: flex;
}

article {
    width: 20%;
    height: 100%;
    overflow: hidden;
    background-color: black;
    border-right: 2px solid #000000;
    box-sizing: border-box;
}

article:last-child {
    border-right: 0px;
}

.sec4_item_img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

.sec4_item_img img {
    opacity: 0.9;
}

.sec4_item_vod {
    display: block;
    width: 100%;
    height: 100%;
}

.sec4_item_vod video {
    width: 100%;
    position: absolute;
    transform: scale(1.3);
    opacity: 0.7;
}

.sec4_item_title {
    color: white;
    max-width: 50%;
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.sec4_item_title h3 {
    letter-spacing: 1px;
    text-shadow: 1px 1px 4px black;
    line-height: 26px;
}

.sec4_item_title p {
    font-size: 13px;
    letter-spacing: 0.5px;
    text-shadow: 1px 1px 4px black;
    line-height: 20px;
}


/* 섹션5 추천영화 */
.section5_movie {
    margin-top: 80px;
    width: 100%;
    height: 100%;
}

.sec5_black_bg {
    width: 100%;
    height: 500px;
    background-color: black;
    position: absolute;
    top: 0;
}

.sec5_box {
    max-width: 1250px;
    width: 100%;
    height: 500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec5_title {
    max-width: 525px;
    width: 100%;
    height: 100%;
}

.sec5_title ul {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.sec5_title ul li:nth-child(1) {
    margin-bottom: 15px;
}

.sec5_title ul img {
    width: 100%;
}

.sec5_title ul h1 {
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 28px;
}

.sec5_title ul li:nth-child(2) {
    border-bottom: 1px solid #c4a76f;
    display: inline-block;
    margin-bottom: 4px;
}

.sec5_title ul h3 {
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 24px;
}

.sec5_title ul p {
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 22px;
}

.sec5_title ul li:nth-child(5) {
    margin-top: 18px;
}

.sec5_title ul li a {
    color: white;
    line-height: 35px;
    padding: 0 30px;
    background-color: #ea2328;
    border-radius: 5px;
    box-sizing: border-box;
    transition: 0.5s;
    display: inline-block;
}

.sec5_title ul li a:hover {
    background-color: #b01527;
    color: #cbcbcb;
    transition: 0.5s;
}

.sec5_right_bg {
    max-width: 725px;
    width: 100%;
    height: 100%;
    background-image: url("../imgs/movie_img2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 120px 100%);
    /*animation: sec5_scale infinite 5s ;*/
}

/*@keyframes sec5_scale{*/
/*    0%{transform: scale(1);}*/
/*    50%{transform: scale(1.3);}*/
/*    100%{transform: scale(1);}*/
/*}*/

.sec5_itemBox {
    max-width: 1250px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: white;
    z-index: 2;
    top: -30px;
    padding: 30px 30px 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sec5_item {
    width: 100%;
    height: 100%;
    margin-right: 20px;
}

.sec5_item:last-child {
   margin-right: 0px;
}

.sec5_item a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec5_item a:hover h3 {
    color: #ea2328;
}

.sec5_item img {
    max-width: 250px;
    width: 100%;
    box-shadow: 1px 1px 5px black;
    transition: 0.5s;
}

.sec5_item h3 {
    font-size: 14px;
    margin-top: 5px;
    transition: 0.5s;
}


/* 푸터 */
footer {
    width: 100%;
    height: 100px;
    margin-top: 100px;
    background-color: black;
}

footer > div {
    max-width: 1250px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

footer > div > div:nth-child(2) i {
    margin-left: 10px;
}

footer p {
    color: white;
}

footer i {
    font-size: 18px;
    color: white;
    transition: 0.5s;
}

footer i:hover {
    color: #ea2328;
}


/* 미디어쿼리 */
@media (max-width: 1280px) {
    .logo a {
        margin-left: 10px;
    }

    footer > div > div {
        margin: 0 10px;
    }
}

@media (max-width: 1250px) {
    .sec5_item:last-child {
        margin-right: 60px;
    }
}

@media (max-width: 1045px) {
    .sec4_item_vod video {
        transform: scale(2);
    }
}

@media (max-width: 830px) {
    .sec5_item h3 {
        font-size: 12px;
    }
}

@media (max-width: 700px) {
    .sec4_item_vod video {
        transform: scale(3);
    }
}

@media (max-width: 650px) {
    .main_img {
        display: flex;
        justify-content: center;
    }

    .main_img ul {
        width: 450px;
        padding: 0px;
        position: relative;
    }

    .main_img ul li:nth-child(2) {
        text-shadow: 1px 1px 2px black;
    }

    .main_nav {
        display: flex;
        justify-content: center;
    }

    .sec_title h1 {
        font-size: 18px;
    }

    .sec_title span {
        width: 60px;
        top: 12px;
        left: -7px;
    }

    .sec_title h1,span {
        margin-left: 20px;
    }

    .sec2_itemBox {
        max-width: 1250px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .sec2_item {
        margin-bottom: 30px;
    }

    .sec2_item1 {
        width: 90%;
    }

    .sec2_item2 {
        width: 90%;
    }

    .sec2_item3 {
        width: 90%;
    }

    .sec2_item4 {
        width: 90%;
    }

    .sec2_item5 {
        width: 90%;
    }

    .sec2_item a ul li:nth-child(1) {
        font-size: 14px;
    }

    .sec2_item a ul li:nth-child(2) {
        font-size: 12px;
    }

    .section3_trailer {
        width: 100%;
        height: 750px;
        margin-top: 80px;
        background-color: black;
    }

    .sec3_box {
        max-width: 1250px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .sec3_item {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .sec3_vod {
        width: 90%;
        top: -30px;
    }

    .sec3_title {
        margin-top: -0px;
        top: -30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sec3_title h1 {
        font-size: 16px;
    }

    .sec3_title p {
        font-size: 12px;
    }

    .sec3_items2 {
        max-width: 650px;
        width: 80%;
        height: 450px;
        overflow: auto;
        margin-left: 0px;
        padding-top: 0px;
        padding-bottom: 10px;
    }

    .sec3_board {
        width: 100%;
        height: 100px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 25px;
    }

    .sec3_item_play img {
        cursor: pointer;
        width: 100px;
        height: 100px;
        top: -30px;
    }

    .sec4_box {
        height: 100%;
        flex-direction: column;
    }

    article {
        width: 50%;
        height: 100%;
        overflow: hidden;
        background-color: black;
        border-right: 2px solid #000000;
        box-sizing: border-box;
    }

    .sec5_itemBox {
        max-width: 1250px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        top: 0px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .sec5_item {
        width: 45%;
        height: 100%;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 20px;
    }

}



