* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

li, ul, ol {
    list-style: none;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: black;
}

::selection {
    background-color: black;
    color: white;
}

::placeholder {
    color: black;
    opacity: 0.5;
}

.clear {
    clear: both;
}

.wrap {
    width: 100%;
}

input::-ms-clear,
input::-ms-reveal{
    display:none;width:0;height:0;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
    display:none;
}


/* 헤더 - 네비게이션 */
header {
    width: 100%;
    height: 80px;
    background-color: black;
    position: fixed;
    z-index: 90;
    transition: 0.5s;
}

header nav {
    max-width: 1250px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-size: 14px;
    display: flex;
    align-items: center;
}

header ul {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 0px;
}

header ul li span {
    margin-right: 20px;
    color: white;
}

.logo a {
    margin-right: 30px;
    display: flex;
}

.firstNav a {
    margin-right: 30px;
    display: flex;
    color: white;
    transition: 0.5s;
}

.lastNav {
    position: absolute;
    right: 0;
}

.lastNav a {
    margin-right: 20px;
    display: flex;
    color: white;
    transition: 0.5s;
}

.firstNav a:hover {
    color: #ea2328;
}

.lastNav a:hover {
    color: #ea2328;
}

.ham {
    color: white;
    display: none;
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.ham_pop {
    width: 100vw;
    height: 100vh;
    position: absolute;
    right: 0;
    background-color: black;
    z-index: 999;
    display: flex;
    align-items: center;
    display: none;
}

.ham_pop ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    padding-top: 10px;
}

.ham_pop ul li {
    padding-bottom: 20px;
}

.ham_pop ul li a {
    color: white;
    transition: 0.5s;
}

.ham_close {
    color: white;
    position: absolute;
    right: 10px;
    display: none;
    cursor: pointer;
}

.ham_pop ul li a:hover {
    color: #ea2328;
}



/* 섹션 타이틀 공통 */
.sec_title {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto 25px;
}

.sec_title h1 {
    background-color: white;
    z-index: 1;
}

.sec_title span {
    width: 80px;
    height: 2px;
    background-color: #cdb383;
    display: inline-block;
    position: absolute;
    top: 16px;
    left: -10px;
    transform: rotate(-45deg);
}



/* 섹션1 메인 이미지 */
.section1_main {
    padding-top: 100px;
    width: 100%;
    height: 400px;
    background-color: black;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section1_main .sec1_img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url("../imgs/movie_main.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.section1_main .sec1_title {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.section1_main .sec1_title h1 {
    font-size: 44px;
    letter-spacing: 1px;
    margin-bottom: 5px;
    text-shadow: 1px 1px 4px black;
}

.section1_main .sec1_title p {
    font-size: 16px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 4px black;
}




/* 섹션2 최신 영화 */
.section2_movie {
    width: 100%;
    height: 100%;
    margin-top: 100px;
}

.sec2_box {
    width: 1250px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sec2_item {
    width: 190px;
    height: 320px;
    cursor: pointer;
}

.sec2_item_img {
    width: 100%;
    height: 250px;
    box-shadow: 1px 1px 5px black;
}

.sec2_item h3 {
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 10px;
}
.sec2_item p {
    font-size: 12px;
    color: #767676;
    letter-spacing: 1px;
    margin-top: 5px;
}

.sec2_item:hover .sec2_item_img {
    top: -10px;
}



/* 섹션3 트레일러 */
.section3_trailer {
    width: 100%;
    height: 400px;
    margin-top: 100px;
}

.sec3_bg_title {
    width: 100%;
    height: 50px;
    background-color: blue;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
    z-index: 2;
}

.sec3_title {
    width: 1250px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    color: white;
    margin: 0 auto;
}

.sec3_title h1 {
    position: absolute;
    left: 0;
    letter-spacing: 1px;
}

.sec3_title ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec3_title ul li {
    margin: 0 20px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.5s;
}

.sec3_title ul li:nth-child(1) {
    color: #ea2328;
}

.sec3_title ul li:hover {
    color: #ea2328  !important;
    transition: 0.5s;
}

.sec3_bg_img {
    width: 100%;
    height: 400px;
    background-color: black;
    display: flex;
    justify-content: right;
    position: absolute;
    top: 0;
    left: 0;
}

.sec3_bg_img div {
    width: 550px;
    height: 100%;
    background-image: url("../imgs/sec3_mo_0.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    transition: 0.5s;
}

.sec3_movie_box {
    width: 1250px;
    height: 350px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: left;
}

.sec3_movie_item {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.sec3_movie_item img {
    transition: 0.5s;
    width: 100%;
    height: 100%;

}

.sec3_movie_item div:hover img {
    transition: 0.5s;
    opacity: 0.7;
}


.sec3_movie_item1 {
    width: 550px;
    height: 300px;
}

.sec3_movie_item1 div {
    width: 100%;
    height: 100%;
    background-color: white;
    transition: 0.5s;
    cursor: pointer;
    background-color: black;
}

.sec3_movie_item2 {
    width: 250px;
    height: 300px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sec3_movie_item2 div {
    width: 100%;
    height: 140px;
    background-color: white;
    transition: 0.5s;
    cursor: pointer;
    background-color: black;
}

.sec3_movie_item3 {
    width: 250px;
    height: 300px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sec3_movie_item3 div {
    width: 100%;
    height: 140px;
    background-color: white;
    transition: 0.5s;
    cursor: pointer;
    background-color: black;
}



/* 섹션4 캐릭터 검색 */
.section4_search {
    width: 100%;
    height: 100%;
    margin-top: 100px;
}

.sec4_box {
    width: 1250px;
    min-height: 180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.sec4_title {
    width: 110px;
}

.sec4_title h1 {
    font-size: 18px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.sec4_title ul {
    display: flex;
    flex-direction: column;

}

.sec4_title ul li {
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 10px;
    transition: 0.5s;
    letter-spacing: 1px;
}

.sec4_title ul li:hover {
    color: #ea2328;
}

.sec4_img_box {
    width: 1100px;
    padding-top: 50px;
    padding-left: 30px;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #dadada;
    border-left: 1px solid #dadada;
}

.sec4_img_box h1 {
    width: 100%;
}

#input_form {
    position: absolute;
    top: 15px;
    left: 30px;
}

#keyword {
    width: 204px;
    height: 30px;
    border: 0px;
    padding-right: 40px;
    padding-left: 5px;
    border-bottom: 1px solid black;
}

#keyword2 {
    position: absolute;
    top: 7px;
    right: 10px;
    cursor: pointer;
}


.sec4_img_item {
    width: 204px;
    /*height: 230px;*/
    height: 300px;
    cursor: pointer;
    margin-top: 15px;
    margin-right: 15px;
    overflow: hidden;
}

.sec4_img_item:hover .sec4_img_bg {
    transform: scale(0.98);
}

.sec4_img_item:hover .sec4_img_name {
    color: #ea2328;
    transition: 0.5s;
}

.sec4_img_bg {
    width: 100%;
    height: 90%;
    /*background-image: url("../imgs/ch_main.png");*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    transition: 0.5s;
}

.sec4_img_name {
    margin-top: 3px;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 700;
    transition: 0.5s;
}



/* 푸터 */
footer {
    width: 100%;
    height: 100px;
    margin-top: 100px;
    background-color: black;
}

footer > div {
    max-width: 1250px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

footer > div > div:nth-child(2) i {
    margin-left: 10px;
}

footer p {
    color: white;
}

footer i {
    font-size: 18px;
    color: white;
    transition: 0.5s;
}

footer i:hover {
    color: #ea2328;
}


/* 미디어쿼리 */
@media (max-width: 1280px) {
    .logo a {
        margin-left: 10px;
    }

    footer > div > div {
        margin: 0 10px;
    }
}

@media (max-width: 1410px) {
    .sec3_bg_img {
        width: 1400px;
    }
}