* {
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display', serif;
    position: relative;
}

/*
font-family: 'Lobster', cursive;
font-family: 'Didact Gothic', sans-serif;
font-family: 'Sawarabi Gothic', sans-serif;
font-family: 'Playfair Display', serif;
*/
li,
ul,
ol {
    list-style: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

h1 {
    font-weight: 800;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: black;
}

::selection {
    background-color: black;
    color: white;
}

::placeholder {
    color: white;
}

.clear {
    clear: both;
}

.wrap {
    width: 100%;
    height: 100%;
}

.section1_wrap {
    width: 100%;
    height: 100%;
}

/*mix-blend-mode: difference; 마우스 반전 필요할때 쓸거*/


/*로딩*/
.loading {
    background: #ffffff;
    /*#eaecfa;*/
    width: 100vw;
    height: 100vh;
    z-index: 999;
}

.loader__wrap {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: flex;
    z-index: 1;
    background-color: #ffffff;
}

.loader {
    --sz: 7rem;
    width: calc(var(--sz) * 2);
    height: var(--sz);
    margin: auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: space-evenly;
    justify-content: space-evenly;
}

.loader__sq {
    --p-sz: calc(var(--sz) / 4);
    --m-offset: calc((var(--p-sz) * -1) * 0.75);
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: end;
    align-items: flex-end;
    -webkit-box-pack: space-evenly;
    justify-content: space-evenly;
    height: 100%;
    width: 50%;
}

.loader__sq::before,
.loader__sq::after {
    width: var(--p-sz);
    height: var(--p-sz);
    content: "";
    position: relative;
    -webkit-transform: translateY(calc((var(--sz) - var(--p-sz)) * -1));
    transform: translateY(calc((var(--sz) - var(--p-sz)) * -1));
    animation: loader-box-bounce 0.5s cubic-bezier(0.3, 0.5, 0.4, 0.95) calc(var(--i) * 0.06s) infinite alternate-reverse;
}

.loader__sq:first-of-type {
    margin-right: var(--m-offset);
}

.loader__sq:first-of-type::before {
    --i: 1;
    border: 3px solid #ff7ab5;
    border-radius: 50%;
}

.loader__sq:first-of-type::after {
    --i: 3;
    background-color: #c643fb;
}

@supports ((-webkit-clip-path: circle()) or (clip-path: circle())) {
    .loader__sq:first-of-type::after {
        -webkit-clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
    }
}

.loader__sq:nth-of-type(2)::before {
    --i: 2;
    border: 3px solid #ffb650;
}

.loader__sq:nth-of-type(2)::after {
    --i: 4;
    background-color: #2fe2dd;
    border-radius: 50%;
}

@supports ((-webkit-clip-path: circle()) or (clip-path: circle())) {
    .loader__sq:nth-of-type(2)::after {
        border-radius: 0;
        -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    }
}

@-webkit-keyframes loader-box-bounce {
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes loader-box-bounce {
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


/*헤더*/
header {
    width: 100%;
    height: 40px;
    position: fixed;
    top: 30px;
    left: 0;
    z-index: 99;
}

.logo {
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    position: absolute;
    top: 0;
    left: 50px;
    cursor: pointer;
    transition: 0.5s;
    display: flex;
    color: white;
}

.logo>h1 {
    font-size: 20px;
    font-weight: 300;
}

.logo>span {
    font-size: 30px;
    font-weight: bold;
    margin: 0 10px;
}

.logo>span:nth-child(2) {
    position: absolute;
    bottom: 5px;
    left: -10px;
    width: 0px;
    height: 1px;
    background: white;
}

.logo>p {
    font-size: 18px;
    font-weight: 300;
    top: 0px;
}

.logo>span:nth-child(5) {
    width: 18px;
    height: 1px;
    background: white;
    position: absolute;
    bottom: 14px;
    right: -33px;
}

.logo>span:nth-child(6) {
    clip-path: polygon(0 50%, 0 100%, 100% 100%);
    background: white;
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: 14px;
    right: -40px;
}


.ham_btn {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0px;
    right: 55px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    flex-direction: column;
    text-align: right;
}

.ham_btn div {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    transition: 0.5s;
}

.ham_btn div span {
    transition: 0.5s;
    background: white;
    width: 30px;
    height: 3px;
    margin: 3px;
    transition: 0.3s;
}

.ham_btn div span:nth-child(1) {
    transform: translate(0px, 0px) rotate(0deg);
}

.ham_btn div span:nth-child(2) {
    opacity: 1;
}

.ham_btn div span:nth-child(3) {
    transform: translate(0px, 0px) rotate(0deg);
}



/*섹션 공통*/
.section {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.sec_bg {
    width: 100%;
    height: 100%;
    transition: 2s;
}

.sec_bg>video {
    filter: brightness(0.8);
}

.sec_title {
    width: 970px;
    height: 275px;
    color: white;
    position: absolute;
    top: calc(50% - 137.5px);
    left: calc(50% - 485px);
}

.sec_title>p {}

.sec_title>p:nth-child(1) {
    font-size: 22px;
    letter-spacing: .1em;
}

.sec_title>h1 {
    font-size: 45px;
    margin-top: 20px;
    width: 720px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.sec_title>p:nth-child(3) {
    font-size: 15px;
    width: 720px;
    margin-top: 20px;
    letter-spacing: .1em;
    line-height: 1.9;
}

.sec_title>h2 {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    position: absolute;
    right: 55px;
    background: rgba(255, 255, 255, .5);
    color: black;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.05em;
    cursor: pointer;
    transition: 0.5s;
    z-index: 2;
}

.sec_title>h2>a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec_title>h2>a>span {
    font-size: 24px;
    margin-left: 5px;
}

.sec_title>h2>span {
    font-size: 24px;
    margin-left: 5px;
}

.sec_title>span {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    position: absolute;
    right: 55px;
    background: white;
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
    transform: scale(1);
}

.viewspan {
    animation: title_view 2s forwards;
}

@keyframes title_view {
    0% {
        transform: scale(1);
        opacity: 1;
        z-index: 3;
    }

    100% {
        transform: scale(20);
        opacity: 1;
        z-index: 3;
    }
}

.view_hover {
    animation: title_hover 0.5s;
}

@keyframes title_hover {
    0% {
        width: 160px;
        height: 160px
    }

    50% {
        width: 180px;
        height: 180px
    }

    100% {
        width: 160px;
        height: 160px
    }
}


.sec_ind {
    position: absolute;
    bottom: 50px;
    color: white;
    left: calc(50% - 485px);
    width: 970px;
    height: 180px;
    perspective: 500px;
}

.left {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 300px;
    text-align: right;
    cursor: pointer;
}

.left>p {
    font-size: 18px;
    font-weight: 500;
}

.left>p:nth-child(1) {}

.left>p:nth-child(2) {
    letter-spacing: .25em;
    right: -5px;
}

.left>span {
    position: absolute;
    bottom: 0px;
}

.left>span:nth-child(3) {
    width: 280px;
    height: 1px;
    background: white;
    right: 0;
}

.left>span:nth-child(4) {
    clip-path: polygon(100% 50%, 0 100%, 100% 100%);
    background: white;
    width: 20px;
    height: 20px;
    left: 0;
}

.right {
    position: absolute;
    right: 55px;
    bottom: 0;
    width: 300px;
    cursor: pointer;
}

.right>p {
    font-size: 18px;
}

.right>p:nth-child(1) {}

.right>p:nth-child(2) {
    letter-spacing: .25em;
}

.right>span {
    position: absolute;
    bottom: 0;
}

.right>span:nth-child(3) {
    width: 280px;
    height: 1px;
    background: white;
    left: 0;
}

.right>span:nth-child(4) {
    clip-path: polygon(0 50%, 0 100%, 100% 100%);
    background: white;
    width: 20px;
    height: 20px;
    right: 0;
}

.ind_hover {
    animation: hover_tf1 0.5s;
}

.ind_hover2 {
    animation: hover_tf2 0.5s;
}

.ind_hoverS1 {
    animation: hover_span1 1s;
}

.ind_hoverS2 {
    animation: hover_span2 1s;
}

.ind_hoverS3 {
    animation: hover_span3 1s;
}

@keyframes hover_tf1 {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes hover_tf2 {
    0% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes hover_span1 {
    0% {
        width: 200px;
    }

    100% {
        width: 280px;
    }
}

@keyframes hover_span2 {
    0% {
        right: 80px;
    }

    100% {
        right: 0px;
    }
}

@keyframes hover_span3 {
    0% {
        left: 80px;
    }

    100% {
        left: 0px;
    }
}



/*섹션1 메인*/
.sec1_vod {
    position: absolute;
    left: 0;
    top: -75px;
    transform: scale(1.9);
}

.sec1_title {
    width: 970px;
    height: 180px;
    position: absolute;
    top: calc(50% - 90px);
    left: calc(50% - 485px);
    color: white;
}

.sec1_title>p:nth-child(1) {
    font-size: 24px;
    letter-spacing: .6em;
    transform: matrix(1, 0, 0, 1, 1, 1);
    text-shadow: 0 0 3px white;
}

.sec1_title>h1 {
    font-size: 60px;
    letter-spacing: .62em;
    transform: matrix(1, 0, 0, 1, 1, 1);
    margin-top: 20px;
    font-weight: 500;
    text-transform: uppercase;
    text-shadow: 0 0 3px white;
}

.sec1_title>p:nth-child(3) {
    font-size: 16px;
    transform: matrix(1, 0, 0, 1, 1, 1);
    font-size: 15px;
    text-align: right;
    margin-top: 20px;
    margin-right: 63px;
    letter-spacing: .25em;
    text-shadow: 0 0 3px white;
}


/*섹션2 배트맨*/
.sec2_vod {
    transform: scale(1.5);
    left: 0;
    top: 0px;
    position: absolute;
}

.sec2_title>h2 {
    bottom: 20px;
}

.sec2_title>span {
    bottom: 20px;
}

/*섹션3 배틀필드*/
.sec3_vod {
    transform: scale(1.3);
    left: 0;
    top: 0px;
    position: absolute;
}

.sec3_title>h2 {
    bottom: 30px;
}

.sec3_title>span {
    bottom: 30px;
}

/*섹션4 가구*/
.sec4_vod {
    transform: scale(1.3);
    left: 0;
    top: 0px;
    position: absolute;
}

.sec4_title>h2 {
    bottom: 30px;
}

.sec4_title>span {
    bottom: 30px;
}

/*섹션5 필름*/
.sec5_vod {
    transform: scale(1.3);
    left: 0;
    top: 0px;
    position: absolute;
}

.sec5_title>h2 {
    bottom: 40px;
}

.sec5_title>span {
    bottom: 40px;
}

/*섹션6 패션*/
.sec6_vod {
    transform: scale(1.3);
    left: 0;
    top: 0px;
    position: absolute;
}

.sec6_title>h2 {
    bottom: 40px;
}

.sec6_title>span {
    bottom: 40px;
}

/*섹션7 아테온*/
.sec7_vod {
    transform: scale(1.3);
    left: 0;
    top: 0px;
    position: absolute;
}

.sec7_title>h2 {
    bottom: 50px;
}

.sec7_title>span {
    bottom: 50px;
}



/*햄버튼 클릭했을때--------------------------------------*/
.section2_wrap {
    width: 0px;
    height: 0px;
    overflow: hidden;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: 0.5s;
}

.sec2_wrapBg {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 357px;
}

.sec2_Wbox {
    position: absolute;
    width: 340px;
    height: 240px;
    transition: 0.5s;
    cursor: pointer;
}

.sec2_Wbox ul {
    transition: 0.3s;
    width: 100%;
    height: 100%;
}

.sec2_Wbox li {
    transition: 0.3s;
}

.sec2_Wbox li:nth-child(1) {
    font-size: 20px;
}

.sec2_Wbox li:nth-child(2) {
    overflow: hidden;
    z-index: 1;
}

.sec2_Wbox li:nth-child(3) {
    font-size: 19px;
    text-transform: uppercase;
    letter-spacing: .05em;
    font-weight: bold;
}

.sec2_Wbox video {
    transform: scale(1.5);
}

.sec2_Wbox1 {
    top: 120px;
    left: 0;
}

.sec2_Wbox2 {
    top: 0px;
    left: calc(50% - 170px);
}

.sec2_Wbox3 {
    top: 120px;
    right: 0;
}

.sec2_Wbox4 {
    top: 480px;
    left: 0;
}

.sec2_Wbox5 {
    top: 360px;
    left: calc(50% - 170px);
}

.sec2_Wbox6 {
    top: 480px;
    right: 0;
}

.sec2_Wbox7 {
    top: 720px;
    left: calc(50% - 170px);
}


/*햄버튼 섹션2 어바웃*/
.sec2_wrapBg2 {
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 300px;
    background-color: #ebebeb;
    padding: 30px 0;
}

.sec2_wrapTitle {
    width: 1200px;
    height: auto;
    margin: 0 auto;
}

.sec2_wrapTitle>p:nth-child(1) {
    font-size: 28px;
    letter-spacing: .55em;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
}

.sec2_wrapTitle>h1:nth-child(2) {
    font-size: 60px;
    letter-spacing: .94em;
    transform: matrix(1, 0, 0, 1, 1, 1);
    margin-top: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Cormorant Garamond', serif;
}

.sec2_wrapTitle>p:nth-child(3) {
    margin-top: 107px;
    font-size: 20px;
    letter-spacing: .1em;
    font-weight: bold;
    font-family: 'Cormorant Garamond', serif;
}

.sec2_wrapTitle>p:nth-child(4) {
    letter-spacing: .1em;
    font-weight: bold;
    font-family: 'Cormorant Garamond', serif;
    margin-top: 5px;
    font-size: 16px;
    width: 237px;
}

.sec2_wrapTitle>p:nth-child(4)>a {
    font-size: 16px;
    letter-spacing: .1em;
    font-weight: bold;
    font-family: 'Cormorant Garamond', serif;
}

.sec2_wrapTitle>p:nth-child(4)>a>span {
    width: 0px;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: black;
    transition: 0.3s;
}

.sec2_wrapTitle>p:nth-child(4):hover>a>span {
    width: 237px;
}


.sec2_wrapTitle>p:nth-child(5) {
    font-size: 20px;
    margin-top: 37px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
}

.sec2_wrapTitle>p:nth-child(6) {
    font-size: 16px;
    margin-top: 5px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    letter-spacing: .1em;
}

.sec2_wrapTitle>p:nth-child(7) {
    font-size: 16px;
    margin-top: 5px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    letter-spacing: .1em;
}

.sec2_wrapTitle>p:nth-child(8) {
    font-size: 16px;
    margin-top: 5px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    letter-spacing: .1em;
}

.sec2_wrapTitle>p:nth-child(9) {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Cormorant Garamond', serif;
    margin-top: 35px;
}

.sec2_wrapTitle>p:nth-child(10) {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Cormorant Garamond', serif;
    margin-top: 5px;
}

.sec2_wrapTitle>p:nth-child(11) {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Cormorant Garamond', serif;
    margin-top: 5px;
}

.sec2_wrapTitle>span:nth-child(12) {
    position: absolute;
    bottom: -250px;
    left: 50%;
    cursor: pointer;
    animation: top_btn 3s infinite;
}

.sec2_wrapTitle>span:nth-child(12)>i {
    font-size: 26px;
    font-weight: bold;
}

@keyframes top_btn {
    0% {
        bottom: -250px;
    }

    50% {
        bottom: -240px;
    }

    100% {
        bottom: -250px;
    }
}