* {
    padding: 0;
    margin: 0;
    font-family: 'Fira Sans Extra Condensed';
    position: relative;
}

li,
ul,
ol {
    list-style: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;
}

h1 {
    font-weight: 800;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: white;
}

::selection {
    background-color: black;
    color: white;
}

::placeholder {
    color: white;
}

.wrap {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/*햄버거*/
.bars {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
}

.bars .fas {
    font-size: 50px;
    display: none;
}

/*햄버거 메뉴*/
.ham_menu {
    position: absolute;
    top: 90px;
    left: 0;
    z-index: 999;
    width: 100%;
    display: none;
}

.ham_menu ul {
    background: white;
}

.ham_menu1 a {
    color: #676767;
    line-height: 40px;
    padding-left: 10px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
}

/*탑버튼*/
.top {
    width: 40px;
    height: 40px;
    background-color: red;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 5px;
}

.top .fas {
    font-size: 20px;
}


.section1 {
    width: 100%;
    height: 100%;
    background-image: url(img/main1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section1>h1 {
    color: white;
    font-size: 100px;
    padding-left: 15px;
    font-family: 'Fira Sans Extra Condensed';
    letter-spacing: 25px;
    font-weight: 200;
}

.section1>h2 {
    color: white;
    font-size: 22px;
    padding-left: 15px;
    font-family: 'Fira Sans Extra Condensed';
    letter-spacing: 3px;
    font-weight: 200;
    left: -5px;
}

.section1>header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.section1 .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.section1 .wrap a h1 {
    font-family: 'Girassol';
    letter-spacing: 2px;
    font-size: 36px;
}

.section1 .wrap img {
    padding-left: 15px;
}

.section1 nav {
    padding-right: 15px;
    display: block;
    opacity: 1;
}

.section1 ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section1 li {
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    font-weight: 400;
    margin-left: 30px;
    display: inline-block;
}

@media (max-width:800px) {
    .bars .fas {
        font-size: 30px;
        display: block;
    }

    .section1 nav {
        padding-right: 15px;
        display: none;
        opacity: 0;
    }
}

.section2 {
    background-color: rgb(0, 0, 0);
    padding-top: 80px;
    padding-bottom: 65px;
}

.section2 .wrap {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
}

.section2 .wrap p:nth-child(3) {
    padding-left: 15px;
}

.section2>.wrap>:nth-child(3) {
    color: white;
    font-size: 30px;
    line-height: 40px;
    font-weight: 300;
    margin-bottom: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.section2>.wrap>:nth-child(4) {
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
}

.section2>.wrap>:nth-child(4)>li {
    margin-right: 20px;
    text-transform: uppercase;
    color: #aaaaaa;
    margin-bottom: 15px;
    transition: 0.3s;
}

.sns {
    cursor: pointer;
}

.section2>.wrap>:nth-child(4)>li:hover {
    color: red;
}

@media (max-width:800px) {
    .section2 .wrap p:nth-child(3) {
        padding-left: 15px;
        padding-right: 15px;
    }

    .section2>.wrap>:nth-child(3) {
        color: white;
        font-size: 24px;
        line-height: 40px;
        font-weight: 300;
        margin-bottom: 30px;
    }

    .section2>.wrap>:nth-child(4) {
        display: flex;
        padding-left: 15px;
    }

    .section2>.wrap>:nth-child(4)>li {
        margin-right: 20px;
        text-transform: uppercase;
        color: #aaaaaa;
    }
}



.section3 {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-top: 80px;
}

.section3 ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.section3 li {
    margin-right: 30px;
    font-size: 13px;
    margin-bottom: 30px;
    justify-content: space-around;
    cursor: pointer;
    transition: 0.1s;
    text-transform: uppercase;
}

.section3 .container {
    display: flex;
    flex-wrap: wrap;
}

.section3 .item {
    display: flex;
    flex: 1 1 300px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 30px;
    z-index: 1;
    transition: 2s;
}

.section3 .item img {
    display: block;
    width: 100%;
    opacity: 1;
}

.section3 .red {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section3 .txt {
    height: 25px;
    overflow: hidden;
    transition: 1.2s;
}

.section3 b {
    top: -30px;
    transition: 0.5s;
    color: white;
}

.section3 .line {
    width: 1px;
    border: 0.5px solid white;
    transition: 1s;
    opacity: 0;
    top: -3px;
}

.section3 .item {
    background: red;
}

.section3 .item:hover img {
    opacity: 0.3;
}

.section3 .item:hover b {
    top: 0;
}

.section3 .item:hover .line {
    width: 200px;
    opacity: 1;
}

.section3 .item:hover {
    background: red;
}


@media (max-width:552px) {
    .section3 li {}

    .section3 ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .section3 li {
        margin-right: 20px;
        font-size: 13px;
        margin-bottom: 20px;
        justify-content: space-around;
    }
}


.section4 {
    background-color: rgba(222, 222, 222, 1);
    padding-top: 80px;
    padding-bottom: 80px;
}

.section4>.wrap>* {}

.section4 .section_title {
    margin-bottom: 0;
}

.section4 .big_txt {
    color: #999999;
    padding-bottom: 20px;
    line-height: 50px;
    font-weight: 300;
    font-size: 34px;
}

.section4 .box_g {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.section4 .box {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    flex: 1 1 300px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 30px;
    height: 300px;
    background-color: white;
    padding: 10px;
}

.box div {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
}

.box1 div {
    background-image: url(img/a1.jpg);
}

.box2 div {
    background-image: url(img/a2.jpg);
}

.box3 div {
    background-image: url(img/a3.jpg);
}

.box4 div {
    background-image: url(img/a4.jpg);
}

.box5 div {
    background-image: url(img/a5.jpg);
}

.box6 div {
    background-image: url(img/a6.jpg);
}

.section4 h1 {
    font-size: 16px;
    line-height: 35px;
    color: #292929;
    font-weight: 500;
    text-transform: uppercase;
}

.section4 p {
    color: #9d9d9d;
    line-height: 20px;
    font-size: 14px;
    top: -4px;
}

@media (max-width:800px) {
    .section4 .box {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        flex-direction: column;
        flex: 1 1 200px;
        margin-right: 15px;
        margin-left: 15px;
        margin-bottom: 30px;
        height: 300px;
        background-color: white;
        padding: 10px;
    }
}

@media (max-width:650px) {
    .section4 .box {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        flex-direction: column;
        flex: 1 1 300px;
        ;
        margin-right: 15px;
        margin-left: 15px;
        margin-bottom: 30px;
        height: 300px;
        background-color: white;
        padding: 10px;
    }
}

.section5 {
    background-color: #111111;
    padding-top: 80px;
    padding-bottom: 80px;
}

.section5 .contents {
    padding-left: 15px;
    padding-right: 15px;
}

.section5 .item {
    display: flex;
    align-items: center;
    height: 70px;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    font-size: 20px;
    transition: 0.3s;
    cursor: pointer;
}

.section5 .item>div:nth-child(1) {
    width: 30%;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.5);
}

.section5 .item>div:nth-child(2) {
    width: 70%;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
}

.section5 .boxs_g {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    padding-left: 15px;
}

.section5 .boxs {
    flex: 1;
}

.section5 .boxs h1 {
    color: white;
    line-height: 30px;
    font-size: 13px;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.section5 .boxs li {
    color: gray;
    line-height: 30px;
    font-size: 18px;
    font-weight: 100;
}

.item:hover {
    background-color: rgba(255, 255, 255, 0.2);
}



.section6 {
    width: 100%;
    ;
    background-color: black;
}

.section6 .wrap2 {
    width: 100%;
}

.section6 .box_gr1 {
    display: flex;
    flex-wrap: wrap;
}

.section6 .box_gr1 .box_gg1 {
    width: 25%;
    height: 300px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    border-left: none;
}

.section6 .box_gr2 {
    display: flex;
    flex-wrap: wrap;
}

.section6 .box_gr2 .box_gg2 {
    width: 25%;
    height: 300px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: none;
}

@media (max-width:850px) {
    .section6 .box_gr1 .box_gg1 {
        width: 50%;
    }

    .section6 .box_gr2 .box_gg2 {
        width: 50%;
    }
}

@media (max-width:600px) {
    .section6 .box_gr1 .box_gg1 {
        width: 100%;
    }

    .section6 .box_gr2 .box_gg2 {
        width: 100%;
    }
}

/*섹션마다 공통스타일 */
.section_title {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 3px;
    color: white;
    margin-bottom: 20px;
    cursor: pointer;
    padding-left: 15px;
    font-weight: 400;
}

.section_title>span {
    display: inline-block;
    width: 15px;
    height: 2px;
    background: red;
    border-radius: 2px;
    top: -4px;
    margin-right: 7px;
    transition: 0.3s;
}

.section_title:hover>span {
    width: 30px;
}

.big_txt {
    font-size: 34px;
    color: #999999;
    max-width: 1000px;
    line-height: 50px;
    font-weight: 300;
    margin-bottom: 30px;
    padding-left: 15px;
}



/*footer*/
footer {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #ec1823;
}

.wrap_3 {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.footer_title {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 3px;
    color: #fedbdc;
    margin-bottom: 20px;
    cursor: pointer;
    padding-left: 15px;
}

.footer_title>span {
    display: inline-block;
    width: 15px;
    height: 2px;
    background: #fedbdc;
    border-radius: 2px;
    top: -4px;
    margin-right: 7px;
    transition: 0.3s;
}

.footer_title:hover>span {
    width: 20px;
}

.footer_txt {
    font-size: 34px;
    color: #fedbdc;
    max-width: 1000px;
    line-height: 50px;
    font-weight: 300;
    margin-bottom: 30px;
    padding-left: 15px;
}

footer .wrap_g {
    max-width: 1200px;
    width: 100%;
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

footer .name_box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 600px;
    margin-left: 15px;
    margin-right: 15px;
}

footer #name {
    flex: 1;
    margin-right: 20px;
    line-height: 35px;
    margin-bottom: 30px;
    border: none;
    background: rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 1);
}

footer #email {
    flex: 1;
    line-height: 35px;
    margin-bottom: 30px;
    margin-right: 20px;
    border: none;
    background: rgba(0, 0, 0, 0.1);
}

footer textarea {
    width: 93%;
    margin-bottom: 10px;
    flex-grow: 1;
    margin-right: 20px;
    border: none;
    background: rgba(0, 0, 0, 0.1);
}

footer button {
    flex: 1;
    line-height: 50px;
    margin-top: 15px;
    background-color: white;
    color: #ff3b41;
    font-size: 20px;
    margin-right: 20px;
    border: none;
    cursor: pointer;
}

:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

/*
box-shadow: 10px x좌표 10px y좌표 30px 번짐정도 rgba(255,0,0,0.7);
box-shadow: x좌표값 y좌표값 번짐정도 색상;
box-shadow: inset x좌표값px y좌표값px 번짐px 확장px 색상;
box-shadow: x y 번짐px 확장px 색상, x y 번짐px 확장px 색상;

text-shadow: x좌표값 y좌표값 번짐정도 색상;
*/
footer .call_box {
    max-width: 500px;
    width: 100%;
    display: flex;
    align-content: center;
    flex-direction: column;
}

footer .call {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 58px;
}

footer .icon {
    width: 45px;
    height: 45px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

footer .fas {
    margin: 0 auto;
    text-align: center;
    color: #ff3b41;
}

footer .call li {
    line-height: 25px;
    color: white;
}

footer .call3 {
    margin-bottom: 80px;
}

footer .bottom_email {
    display: flex;
    flex-wrap: wrap;
}

footer .bottom_email li {
    margin-right: 15px;
    font-size: 14px;
    color: white;
    margin-bottom: 15px;
    cursor: pointer;
    transition: 0.3s;
}

footer .bottom_email li:hover {
    color: black;
}

@media (max-width:950px) {
    footer .wrap_g {
        flex-wrap: wrap;
    }

    footer .name_box {
        max-width: 950px;
        margin-bottom: 15px;
        margin-right: 0px;
    }

    footer .call_box {
        margin-left: 15px;
    }
}