<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://kit.fontawesome.com/8ca221a456.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
    <div class="wrap">
        <!-- 네비게이션 -->
        <header>
            <nav>
                <div>
                    <ul class="firstNav">
                        <li><a href="index.html"><img src="../static/imgs/logo.png" alt=""></a></li>
                        <li><a href="">characters</a></li>
                        <li><a href="">movies</a></li>
                        <li><a href="">community</a></li>
                    </ul>
                </div>
                <div class="lastNav">
                    <ul>
                        <li><a href="">sign in</a></li>
                        <li><span>|</span></li>
                        <li><a href="">join</a></li>
                        <li><a href=""><i class="fa-solid fa-magnifying-glass"></i></a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- 섹션1 메인 이미지 -->
        <section class="section1_main">
            <div class="main_box main_box1">
                <div class="main_img main_img1">
                    <ul>
                        <li><img src="../static/imgs/main1_1.png" alt=""></li>
                        <li>인피니티 워 이후 절반만 살아남은 지구 마지막 희망이 된 어벤져스 먼저 떠난 그들을 위해 모든 것을 걸었다!<br>
                            위대한 어벤져스 운명을 바꿀 최후의 전쟁이 펼쳐진다!</li>
                        <li><a href="">GET IT NOW</a></li>
                    </ul>
                </div>
            </div>
            <div class="main_box main_box2">
                <div class="main_img main_img2">
                    <ul>
                        <li><img src="../static/imgs/main1_1.png" alt=""></li>
                        <li>인피니티 워 이후 절반만 살아남은 지구 마지막 희망이 된 어벤져스 먼저 떠난 그들을 위해 모든 것을 걸었다!<br>
                            위대한 어벤져스 운명을 바꿀 최후의 전쟁이 펼쳐진다!</li>
                        <li><a href="">GET IT NOW</a></li>
                    </ul>
                </div>
            </div>
            <div class="main_box main_box3">
                <div class="main_img main_img3">
                    <ul>
                        <li><img src="../static/imgs/main1_1.png" alt=""></li>
                        <li>인피니티 워 이후 절반만 살아남은 지구 마지막 희망이 된 어벤져스 먼저 떠난 그들을 위해 모든 것을 걸었다!<br>
                            위대한 어벤져스 운명을 바꿀 최후의 전쟁이 펼쳐진다!</li>
                        <li><a href="">GET IT NOW</a></li>
                    </ul>
                </div>
            </div>
            <div class="main_bottom"></div>
            <div class="main_nav">
                <ul>
                    <li>어벤져스</li>
                    <li>|</li>
                    <li>닥터스트레인지</li>
                    <li>|</li>
                    <li>스파이더맨</li>
                </ul>
            </div>
        </section>

        <!-- 섹션2 최신정보 -->
        <section class="section2_news">
            <div class="sec_title">
                <h1>최신정보</h1>
                <span></span>
            </div>
            <div class="sec2_itemBox sec2_itemBox1">
                <div class="sec2_item sec2_item1">
                    <a href="">
                        <img src="../static/imgs/news1.png" alt="">
                        <ul>
                            <li>블랙팬서: 와칸다 포에버 제작 발표</li>
                            <li>기존의 캐릭터들과 와칸다를 좀 더 탐구하는 쪽으로 이야기를 꾸릴 것이라고 한다.<br>
                                영화 개봉은 2022년 7월 예정이다</li>
                        </ul>
                    </a>
                </div>
                <div class="sec2_item sec2_item2">
                    <a href="">
                        <img src="../static/imgs/news2.png" alt="">
                        <ul>
                            <li>팔콘과 윈터 솔져</li>
                            <li>2세대 캡틴아메리카의 이야기가 디즈니+에서 방영한다.</li>
                        </ul>
                    </a>
                </div>
            </div>
            <div class="sec2_itemBox sec2_itemBox2">
                <div class="sec2_item sec2_item3">
                    <a href="">
                        <img src="../static/imgs/news3.png" alt="">
                        <ul>
                            <li>토르: 러브 앤 썬더 캐스팅</li>
                            <li>다크 월드에 출연했던 제인이 이번 시리즈에 다시 합류한다.</li>
                        </ul>
                    </a>
                </div>
                <div class="sec2_item sec2_item4">
                    <a href="">
                        <img src="../static/imgs/news4.png" alt="">
                        <ul>
                            <li>가디언즈 갤럭시 마지막 시리즈</li>
                            <li>가디언즈 오브 갤럭시 실사영화 시리즈의 마지막 영화가 6년만에 개봉을 한다.</li>
                        </ul>
                    </a>
                </div>
            </div>
        </section>

        <!-- 섹션3 주요 캐릭터 -->
        <section class="section3_preview">
            <div class="sec_title">
                <h1>주요 캐릭터</h1>
                <span></span>
            </div>
            <div class="sec3_box">
                <div class="sec3_item sec3_item1">
                    <a href="">
                        <img src="../static/imgs/ch1.png" alt="">
                        <div>
                            <span></span>
                            <ul>
                                <li>닥터 스트레인지</li>
                                <li>스티븐 스트레인지</li>
                            </ul>
                        </div>
                    </a>
                </div>
                <div class="sec3_item sec3_item2">
                    <a href="">
                        <img src="../static/imgs/ch2.png" alt="">
                        <div>
                            <span></span>
                            <ul>
                                <li>로키</li>
                                <li></li>
                            </ul>
                        </div>
                    </a>
                </div>
                <div class="sec3_item sec3_item3">
                    <a href="">
                        <img src="" alt="">
                        <div>
                            <span></span>
                            <ul>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                    </a>
                </div>
                <div class="sec3_item sec3_item4">
                    <a href="">
                        <img src="" alt="">
                        <div>
                            <span></span>
                            <ul>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                    </a>
                </div>
                <div class="sec3_item sec3_item5">
                    <a href="">
                        <img src="" alt="">
                        <div>
                            <span></span>
                            <ul>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                    </a>
                </div>
                <div class="sec3_item sec3_item6">
                    <a href="">
                        <img src="" alt="">
                        <div>
                            <span></span>
                            <ul>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                    </a>
                </div>
            </div>
        </section>

        <!-- 섹션4 영화추천 -->
        <section class="section4_movies">

        </section>

        <!-- 카피라이터 -->
        <footer>

        </footer>
    </div>
</body>
</html>