<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://kit.fontawesome.com/8ca221a456.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
    <div class="wrap">
        <!-- 네비게이션 -->
        <header>
            <nav>
                <div>
                    <ul class="firstNav">
                        <li><a href="index.html"><img src="../static/imgs/logo.png" alt=""></a></li>
                        <li><a href="">characters</a></li>
                        <li><a href="">movies</a></li>
                        <li><a href="">community</a></li>
                    </ul>
                </div>
                <div class="lastNav">
                    <ul>
                        <li><a href="">sign in</a></li>
                        <li><span>|</span></li>
                        <li><a href="">join</a></li>
                        <li><a href=""><i class="fa-solid fa-magnifying-glass"></i></a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- 섹션1 메인 이미지 -->
        <section class="section1_main">
            <div class="main_box main_box1">
                <div class="main_img main_img1">
                    <ul>
                        <li><img src="../static/imgs/main1_1.png" alt=""></li>
                        <li>인피니티 워 이후 절반만 살아남은 지구 마지막 희망이 된 어벤져스 먼저 떠난 그들을 위해 모든 것을 걸었다!<br>
                            위대한 어벤져스 운명을 바꿀 최후의 전쟁이 펼쳐진다!</li>
                        <li><a href="">GET IT NOW</a></li>
                    </ul>
                </div>
            </div>
            <div class="main_box main_box2">
                <div class="main_img main_img2">
                    <ul>
                        <li><img src="../static/imgs/main1_1.png" alt=""></li>
                        <li>인피니티 워 이후 절반만 살아남은 지구 마지막 희망이 된 어벤져스 먼저 떠난 그들을 위해 모든 것을 걸었다!<br>
                            위대한 어벤져스 운명을 바꿀 최후의 전쟁이 펼쳐진다!</li>
                        <li><a href="">GET IT NOW</a></li>
                    </ul>
                </div>
            </div>
            <div class="main_box main_box3">
                <div class="main_img main_img3">
                    <ul>
                        <li><img src="../static/imgs/main1_1.png" alt=""></li>
                        <li>인피니티 워 이후 절반만 살아남은 지구 마지막 희망이 된 어벤져스 먼저 떠난 그들을 위해 모든 것을 걸었다!<br>
                            위대한 어벤져스 운명을 바꿀 최후의 전쟁이 펼쳐진다!</li>
                        <li><a href="">GET IT NOW</a></li>
                    </ul>
                </div>
            </div>
            <div class="main_bottom"></div>
            <div class="main_nav">
                <ul>
                    <li>어벤져스</li>
                    <li>|</li>
                    <li>닥터스트레인지</li>
                    <li>|</li>
                    <li>스파이더맨</li>
                </ul>
            </div>
        </section>

        <!-- 섹션2 최신정보 -->
        <section class="section2_news">
            <div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </section>
        <!-- 카피라이터 -->
        <footer>

        </footer>
    </div>
</body>
</html>