*{padding:0; margin:0; font-family: 'Fira Sans', sans-serif;
    position:relative;}
/*
font-family: 'Fira Sans', sans-serif;
font-family: 'Carrois Gothic SC', sans-serif;
*/
li,ul,ol{list-style: none;}
html, body{width:100%; height:100%;}
h1{font-weight:800;}
a:link {text-decoration: none; }
a:visited{color: black;}
::selection {background-color: black; color: white;}
::placeholder {color: white;}
.clear {clear:both;}
.wrap {width: 100%; height: 100%;}



/*헤더*/
header {position: fixed; top: 0; left: 0;
    width: 100%; height: 50px; z-index: 999;}
.menu {width: 100%; height: 100%; background: black;
    display: flex; justify-content: space-between;}
.menu ul {display: flex; align-items: center;}
.menu ul:nth-child(1) li {color: white; font-size: 13px; cursor: pointer;
    width: 60px; height: 30px;
    display: flex; align-items: center; justify-content: center;}
.menu ul:nth-child(1) li:nth-child(1) {margin: 0 20px; width: auto;}
.menu ul:nth-child(1) li:nth-child(2) {margin-right: 0px;}
.menu ul:nth-child(1) li:nth-child(3) {margin-right: 10px;}
.menu ul:nth-child(1) li:nth-child(4) {margin-right: 20px;}
.menu ul:nth-child(1) li:nth-child(5) {margin-right: 20px;}
.menu ul:nth-child(1) li:nth-child(6) {margin: 0; width: 60px;}

.menu ul:nth-child(2) li {color: white; font-size: 13px; cursor: pointer;
    width: 50px; height: 30px;
    display: flex; align-items: center; justify-content: center;}
.menu ul:nth-child(2) li:nth-child(1) {}
.menu ul:nth-child(2) li:nth-child(2) {width: 60px; margin-left: 15px;}
.menu ul:nth-child(2) li:nth-child(3) {margin: 0 20px; background: #2e3e46;
    width: 100px; height: 50px; font-size: 16px;}



/*섹션 공통*/



/*섹션1 타이틀*/
.section1 {width: 100%; height: 900px;}
.sec1_bg {width: 100%; height: 100%; background: black;
    overflow: hidden;}
.sec1_bg video {position: absolute; left: 0; top: 0px; }
.sec1_title {position: absolute; bottom: 30px; left: 30px;}
.sec1_title>img {width: 300px;}
.sec1_title>h1:nth-child(2) {color: white; font-size: 30px;
    font-family: 'Carrois Gothic SC', sans-serif;
    text-transform: uppercase; font-weight: bold; text-shadow: 0 0 2px;
    margin-top: 12px;}
.sec1_title>h1:nth-child(3) {color: white; text-shadow: 0 0 2px;
    font-weight: bold; font-size: 30px;}
.sec1_title>p {background: #7f6930; margin-top: 15px;
    width: 200px; height: 40px; color: white;
    display: flex; align-items: center; justify-content: center;
    border: 1px solid #d0a137; text-transform: uppercase;
    text-shadow: 0 0 3px white; cursor: pointer; font-size: 20px;
    letter-spacing: 1px; transition: 0.3s;}
.sec1_title:hover>p {box-shadow: 0 0 10px;}



/*섹션2*/
.section2 {width: 100%; height: 720px; background: black;
    overflow: hidden;}
.sec2_bg {width: 100%; height: 100%; display: flex; top: 10px;
    justify-content: space-around;}
.sec2_boxs {
    width: 70%; height: 100%; display: flex; flex-wrap: wrap;}
.sec2_box {width: 50%; height: 350px; overflow: hidden; cursor: pointer;}
.sec2_box>h1 {position: absolute; bottom: 20px; left: 20px;
    color: white; font-size: 18px; font-weight: 400; letter-spacing: 1px;}
.sec2_box>img {transition: 0.7s; width: 100%; display: block;}
.sec2_box:hover>img {transform: scale(1.1);}

.sec2_news {width: 30%;
    padding-top: 70px; background: #171717;}
.sec2_news>h2 {color: #d2d2d2; font-size: 16px; font-weight: 200;
    border-bottom: 1px solid #d2d2d2; padding-bottom: 13px;
    width: 490px; margin: 0 auto;}
.sec2_news>h1 {color: white; font-size: 16px; font-weight: 300;
    background: black; width: 120px; height: 50px;
    margin: 0 auto; margin-top: 20px; cursor: pointer;
    display: flex; align-items: center; justify-content: center;
    transition: 0.3s;}
.sec2_news>h1:hover {box-shadow: 0 0 10px;}

.sec2_items {width: 500px; height: 470px;
    margin: 0 auto; padding-top: 20px;}
.sec2_item {width: 100%; height: 110px; margin-left: 10px;
    display: flex; align-items: center;
    padding-bottom: 20px; cursor: pointer;}
.sec2_item>img {width: 200px; height: 110px;}
.sec2_item>p {font-size: 14px; color: #adadad; padding: 0 20px;
    transition: 0.3s;}
.sec2_item:hover>p {color: white;}

@media (max-width:1660px){
    .sec2_boxs {width: 60%;}
    .sec2_news {width: 40%;}
    .sec2_news>h2 {width: 480px;}
}


/*섹션3*/
.section3 {width: 100%; height: 730px; background: black; 
    padding-bottom: 200px;}

.sec3_bg {width: 1400px; height: 700px; position: absolute; 
    top: 0px; left: calc(50% - 700px); padding-top: 0px;}

.sec3_img1 {position: absolute; top: calc(50% - 140px); right: 0px;}
.sec3_img2 {position: absolute; bottom: -60px; right: 430px;}
.sec3_img2>img {width: 300px;}
.sec3_img3 {position: absolute; bottom: -95px; right: 70px;}
.sec3_img3>img {width: 300px;}

.sec3_boxs {width: 270px; height: 400px; display: flex; align-items: center;
    flex-direction: column; position: absolute; 
    top:calc(50% - 210px); left: 690px;}
.sec3_boxs>.boxs_img {width: 270px; height: 400px; margin-top: 40px;}

.sec3_text {width: 600px; 
    position: absolute; top: 28.5%; left: 30px;}
.sec3_text h1 {color: white; font-size: 36px;}
.sec3_text p {color: white; margin-top: 20px; line-height: 24px;}

.sec3_table {position: absolute; top: 60%; left: 30px; width: 590px; 
    border-spacing: 0;}
.sec3_table td {color: white; font-size: 13px; 
    border-bottom: 1px solid #d2d2d2; line-height: 30px;}

.sec3_down {position: absolute; left: 30px; top: 79%;}
.sec3_down>p {background: #7f6930; margin-top: 15px;
    width: 200px; height: 40px; color: white;
    display: flex; align-items: center; justify-content: center;
    border: 1px solid #d0a137; text-transform: uppercase;
    text-shadow: 0 0 3px white; cursor: pointer; font-size: 20px;
    letter-spacing: 1px; transition: 0.3s;}
.sec3_down:hover>p {box-shadow: 0 0 10px;}

.sec3_bottom {position: absolute; left: 30px; bottom: -170px;}
.sec3_bottom>p {font-size: 13px; line-height: 30px; color: #d2d2d2;}



/*섹션4*/
.section4 {width: 100%; height: 570px; background: white;
    padding-top: 100px; padding-bottom: 100px;}

.sec4_bg {width: 100%; height: 100%;}

.sec4_title {width: 300px; height: auto;
    display: flex; align-items: center; justify-content: center;
    flex-direction: column; margin: 0 auto; padding: 20px 0px;}
.sec4_title>h1 {color: #0f0f0f; font-size: 40px;}
.sec4_title>p {color: #7a7d84;}

.sec4_items {width: 100%; height: 400px;
    display: flex;}
.sec4_item {flex: 1; cursor: pointer;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;}

.sec4_itemTxt {width: 100%; height: 100%; background: rgba(0,0,0,0.7);
    display: none;}
.sec4_itemTxt>div {position: absolute;bottom: 20px; left: 0px;
    padding: 0 20px;}
.sec4_itemTxt>div>h1 {font-size: 24px; color: white; line-height: 38px;
    font-weight: 600;}
.sec4_itemTxt>div>p {font-size: 16px; color: white;}

.sec4_item1 {background-image: url(imgg/sec4_img0.jpg);}
.sec4_item2 {background-image: url(imgg/sec4_img1.jpg);}
.sec4_item3 {background-image: url(imgg/sec4_img2.jpg);}
.sec4_item4 {background-image: url(imgg/sec4_img3.jpg);}
.sec4_item5 {background-image: url(imgg/sec4_img4.jpg);}
.sec4_item6 {background-image: url(imgg/sec4_img5.jpg);}

.sec4_bg>div:last-child {height: 40px; margin-left: 20px;
    display: flex; align-items: flex-end;}
.sec4_bg>div:last-child>p {color: #7a7d84; font-size: 13px; letter-spacing: .02em;}


/*섹션5*/
.section5 {width: 100%; height: 150px; background: black;
    display: flex; align-items: center; padding: 20px 0;}

.sec5_bg {width: 80%; height: 100%; margin: 0 auto;
    display: flex; align-items: center; justify-content: center;
    flex-direction: column; top: 0px;}
.sec5_bg>h1 {color: white; font-size: 36px;}
.sec5_bg>div {display: flex; align-items: center; margin-top: 20px;}
.sec5_bg>div>input {width: 300px; height: 40px; margin-right: 50px;}
.sec5_bg>div>h1 {color: #d2d2d2; width: 200px; height: 45px; 
    background: #111111; border: 1px solid #3c3f40;
    box-shadow: 0 0 3px; cursor: pointer;
    display: flex; align-items: center; justify-content: center;
    font-size: 20px; font-weight: 400;
    transition: 0.3s;}

.sec5_bg>div>h1:hover {box-shadow: 0 0 10px;}



/*섹션6*/
.section6 {width: 100%; height: auto; padding: 100px 0;}
.sec6_bg {width: 1400px; height: 100%; margin: 0 auto;}
.sec6_bg>ul {width: 100%; height: 100%;
    display: flex; align-items: center; justify-content: center;}

.sec6_bg>ul>li {margin-right: 50px;}
.sec6_bg>ul>li>i {cursor: pointer;}
.sec6_bg>ul>li>h1 {font-size: 23px; line-height: 50px; font-weight: 400;}

.sec6_bg>ul>li:nth-child(1) {width: 300px; height: 350px;}
.sec6_bg>ul>li:nth-child(1)>ul {width: 100%;}
.sec6_bg>ul>li:nth-child(1)>ul>li {width: 50%; float: left;
    display: flex; align-items: center; justify-content: center;}
.sec6_bg>ul>li:nth-child(1)>ul>li>p {position: absolute; color: white;}


.sec6_bg>ul>li:nth-child(2) {width: 300px; height: 350px;}
.sec6_bg>ul>li:nth-child(2)>i {position: absolute; top: 15px; right: 5px;}
.sec6_bg>ul>li:nth-child(2)>ul {width: 100%;}
.sec6_bg>ul>li:nth-child(2)>ul>li {height: 60px; 
    padding-left: 10px; background: #f5f5f5; border-bottom: 1px solid white;
    display: flex; align-items: center; font-weight: 300; font-size: 15px;}
.sec6_bg>ul>li:nth-child(2)>ul>li:last-child {border-bottom: 0;}


.sec6_bg>ul>li:nth-child(3) {width: 300px; height: 350px;}
.sec6_bg>ul>li:nth-child(3)>i {position: absolute; top: 15px; right: 5px;}
.sec6_bg>ul>li:nth-child(3)>ul {width: 100%; height: 300px;}
.sec6_bg>ul>li:nth-child(3)>ul>li:nth-child(1) {height: 270px; width: 100%;
    display: flex;
    background-image: url(imgg/bg_11.jpg);
    background-repeat: no-repeat; background-position: center center;
    background-size: cover;}
.sec6_bg>ul>li:nth-child(3)>ul>li:nth-child(2) {display: flex;
    align-items: center; justify-content: center; width: 100%; height: 30px;
    font-size: 14px; background: black; color: white;} 


.sec6_bg>ul>li:nth-child(4) {width: 300px; height: 300px; margin-top: 50px;}
.sec6_bg>ul>li:nth-child(4)>ul {width: 100%; height: 300px;}
.sec6_bg>ul>li:nth-child(4)>ul>li {float: left;}
.sec6_bg>ul>li:nth-child(4)>ul>li:nth-child(1) {width: 149px; height: 125px;
    display: flex; align-items: center; justify-content: center;
    flex-direction: column; border-top: 1px solid #f5f5f5;
    border-left: 1px solid #f5f5f5;}
.sec6_bg>ul>li:nth-child(4)>ul>li:nth-child(1)>p:nth-child(1) {
    font-size: 15px; font-weight: 500; padding-bottom: 5px;}
.sec6_bg>ul>li:nth-child(4)>ul>li:nth-child(1)>p:nth-child(2) {
    font-size: 14px; font-weight: 300; border: 1px solid black;
    padding: 5px 10px; cursor: pointer; transition: 0.3s;}
.sec6_bg>ul>li:nth-child(4)>ul>li:nth-child(1)>p:nth-child(2):hover {
    color: white; background: black;
}
.sec6_bg>ul>li:nth-child(4)>ul>li:nth-child(2)>img {display: block;
    width: 100%;}
.sec6_bg>ul>li:nth-child(4)>ul>li:nth-child(3) {}



/*footer*/
footer {width: 100%; height: 450px; background: #252525;}
.foot_wrap {width: 1200px; height: 100%; margin: 0 auto;}
.foot_top {width: 100%; height: 100px; display: flex; padding: 50px 0px;
    border-bottom: 1px solid #d2d2d2;}
.foot_menu {width: 60%; margin-right: 10%;}
.foot_menu p {color: white; font-size: 24px;
    line-height: 70px;}
.foot_menu ul {display: flex; align-items: center; 
    justify-content: space-between;}
.foot_menu ul li {color: #d2d2d2; cursor: pointer; transition: 0.3s;}

.foot_icon {width: 30%;}
.foot_icon p {color: white; text-align: right; font-size: 20px;
    line-height: 60px; top: 7px;}
.foot_icon ul {display: flex; align-items: center; justify-content: flex-end;}
.foot_icon ul li {color: #f17f1a; font-size: 23px; cursor: pointer;
    top: 7px; margin-left: 20px;}

.foot_bottom {width: 100%; height: 130px;}
.foot_bottom ul {display: flex; padding-top: 30px;}
.foot_bottom ul li {line-height: 75px; margin-right: 50px;
    cursor: pointer;}

.foot_txt {}
.foot_txt>p {color: #d2d2d2; font-size: 13px;}

.ci {position: absolute; bottom: 0; left: 0; width: 100%; height: 50px;
     background: white; display: flex; align-items: center;}
.ci p {color: #7a7d84; width: 1200px; margin: 0 auto;}

.foot_menu ul li:hover {color: white; text-shadow: 0 0 5px;}
.foot_icon ul li:hover {text-shadow: 0 0 5px;}



































