<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="./static/css/character.css">
    <link rel="stylesheet" href="./static/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="./static/bootstrap/css/bootstrap.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8ca221a456.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="wrap">
    <!-- 네비게이션 -->
    <header class="header">
        <nav>
            <div class="logo">
                <a href="index.html">
                    <img src="./static/imgs/logo.png" alt="">
                </a>
            </div>
            <div class="firstNav">
                <ul>
                    <li>
                        <a href="character.html">characters</a>
                    </li>
                    <li>
                        <a href="movie.html">movies</a>
                    </li>
                    <li>
                        <a href="community.html">community</a>
                    </li>
                </ul>
            </div>
            <div class="lastNav">
                <ul>
                    <li th:if="${session.loginId} == null">
                        <a href="member/save.html">sign in</a>
                    </li>
                    <li>
                        <span>|</span>
                    </li>
                    <li th:if="${session.loginId} == null">
                        <a href="member/login.html">join</a>
                    </li>
                    <!-- <li th:if="${session.loginId} != null">
                        <a href="/member/logout">로그아웃</a>
                    </li> -->
                    <!--                    <li>-->
                    <!--                        <a href="#">-->
                    <!--                            <i class="fa-solid fa-magnifying-glass"></i>-->
                    <!--                        </a>-->
                    <!--                    </li>-->
                </ul>
            </div>
            <div class="ham">
                <i class="fa-solid fa-align-justify fa-2x"></i>
            </div>
            <div class="ham_close">
                <i class="fa-solid fa-xmark fa-3x"></i>
            </div>
        </nav>
        <div class="ham_pop">
            <ul>
                <li><a href="#">characters</a></li>
                <li><a href="#">movies</a></li>
                <li><a href="#">community</a></li>
                <li><a href="#">sign in</a></li>
                <li><a href="#">join</a></li>
                <li><input type="text" class="form-control mb-2" placeholder="Search"></li>
            </ul>
        </div>
    </header>

    <!-- 섹션1 메인 이미지 -->
    <section class="section1_main">
        <div class="sec1_img"></div>
        <div class="sec1_title">
            <h1>MARVEL CHARACTERS</h1>
            <p>기발하며 상상을 초월하는 초능력을 가진 영웅들의 능력에 대한 정보와 서사를 알아보세요.</p>
        </div>
    </section>

    <!-- 섹션2 추천 캐릭터  -->
    <section class="section2_characters">
        <div class="sec_title">
            <h1>인기 캐릭터</h1>
            <span></span>
        </div>
        <div class="sec2_box">
            <div class="sec2_item">
                <a href="#">
                    <div class="sec2_item_img">
                        <img src="./static/imgs/ch_ch1.png" alt="">
                    </div>
                    <div class="sec2_item_text">
                        <span></span>
                        <h2>캡틴 아메리카</h2>
                        <p>스티븐 로저스</p>
                    </div>
                </a>
            </div>
            <div class="sec2_item">
                <a href="#">
                    <div class="sec2_item_img">
                        <img src="./static/imgs/ch_ch2.png" alt="">
                    </div>
                    <div class="sec2_item_text">
                        <span></span>
                        <h2>아이언맨</h2>
                        <p>토니 스타크</p>
                    </div>
                </a>
            </div>
            <div class="sec2_item">
                <a href="#">
                    <div class="sec2_item_img">
                        <img src="./static/imgs/ch_ch3.png" alt="">
                    </div>
                    <div class="sec2_item_text">
                        <span></span>
                        <h2>토르</h2>
                        <p>토르 오딘슨</p>
                    </div>
                </a>
            </div>
            <div class="sec2_item">
                <a href="#">
                    <div class="sec2_item_img">
                        <img src="./static/imgs/ch_ch4.png" alt="">
                    </div>
                    <div class="sec2_item_text">
                        <span></span>
                        <h2>헐크</h2>
                        <p>브루스 배너</p>
                    </div>
                </a>
            </div>
            <div class="sec2_item">
                <a href="#">
                    <div class="sec2_item_img">
                        <img src="./static/imgs/ch_ch5.png" alt="">
                    </div>
                    <div class="sec2_item_text">
                        <span></span>
                        <h2>블랙 위도우</h2>
                        <p>나타샤 로마노프</p>
                    </div>
                </a>
            </div>
            <div class="sec2_item">
                <a href="#">
                    <div class="sec2_item_img">
                        <img src="./static/imgs/ch_ch6.png" alt="">
                    </div>
                    <div class="sec2_item_text">
                        <span></span>
                        <h2>앤트맨</h2>
                        <p>스캇 랭</p>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <!-- 섹션3 갤러리 -->
    <section class="section3_gallery">
        <div class="sec3_wrap">
            <div class="sec3_btn sec3_leftBtn">
                <i class="fa-solid fa-angle-left"></i>
            </div>
            <div class="sec3_galleryBox">
                <div class="sec3_Box">
                    <div class="sec3_item sec3_item1"></div>
                    <div class="sec3_item sec3_item2"></div>
                    <div class="sec3_item sec3_item3"></div>
                    <div class="sec3_item sec3_item4"></div>
                    <div class="sec3_item sec3_item5"></div>
                    <div class="sec3_item sec3_item6"></div>
                    <div class="sec3_item sec3_item7"></div>
                </div>
            </div>
            <div class="sec3_btn sec3_rightBtn">
                <i class="fa-solid fa-angle-right"></i>
            </div>
            <div class="sec3_pop">
                <div class="sec3_pop_close">
                    <i class="fa-solid fa-xmark fa-3x"></i>
                </div>
                <div class="sec3_pop_img"></div>
            </div>
        </div>
    </section>
    <div class="sec3_bg"></div>

    <!-- 섹션4 캐릭터 검색 -->
    <section class="section4_search">
        <div class="sec_title">
            <h1>캐릭터 검색</h1>
            <span></span>
        </div>
        <div class="sec4_box">
            <div class="sec4_title">
                <h1>영화별 검색</h1>
                <ul>
                    <li class="avengers">어벤져스</li>
                    <li class="captain">캡틴 아메리카</li>
                    <li class="iron">아이언맨</li>
                    <li class="thor">토르</li>
                    <li class="spider">스파이더맨</li>
                    <li class="doctor">닥터 스트레인지</li>
                </ul>
            </div>
            <div class="sec4_img_box">
                <div id="input_form">
                    <input type="search" id="keyword" placeholder=" 캐릭터 이름으로 검색...">
                    <i id="keyword2" class="fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="sec4_img_item avengers captain">
                    <div class="sec4_img_bg"></div>
                    <p class="sec4_img_name">캡틴 아메리카</p>
                </div>
                <div class="sec4_img_item avengers iron">
                    <div class="sec4_img_bg"></div>
                    <p class="sec4_img_name">아이언맨</p>
                </div>
                <div class="sec4_img_item avengers thor">
                    <div class="sec4_img_bg"></div>
                    <p class="sec4_img_name">토르</p>
                </div>
                <div class="sec4_img_item avengers spider">
                    <div class="sec4_img_bg"></div>
                    <p class="sec4_img_name">스파이더맨</p>
                </div>
                <div class="sec4_img_item avengers captain">
                    <div class="sec4_img_bg"></div>
                    <p class="sec4_img_name">윈터 솔져</p>
                </div>
                <div class="sec4_img_item avengers thor">
                    <div class="sec4_img_bg"></div>
                    <p class="sec4_img_name">로키</p>
                </div>
                <div class="sec4_img_item avengers doctor">
                    <div class="sec4_img_bg"></div>
                    <p class="sec4_img_name">닥터 스트레인지</p>
                </div>
                <div class="sec4_img_item avengers doctor">
                    <div class="sec4_img_bg"></div>
                    <p class="sec4_img_name">스칼렛 위치</p>
                </div>
            </div>
        </div>
    </section>

    <!-- 카피라이터 -->
    <footer>
        <div>
            <div>
                <p>© 2022 Choi Ji Hwan</p>
            </div>
            <div>
                <a href="https://github.com/waraaa4/marvel" target="_blank"><i class="fa-brands fa-github"></i></a>
                <a href="https://waraaa4.github.io/" target="_blank"><i class="fa-solid fa-house"></i></a>
                <a href="https://economic-vibraphone-b79.notion.site/bbb01759d1554939932d0959400d1a7c"
                   target="_blank"><i class="fa-solid fa-book"></i></a>
            </div>
        </div>
    </footer>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="./static/bootstrap/js/bootstrap.js"></script>
<script src="./static/js/jquery.mCustomScrollbar.js"></script>
<script>

    // 섹션4 영화별 검색
    $(".sec4_title li").click(function (){
        let class_name = $(this).attr("class");
        console.log(class_name)
        $(".sec4_img_item").stop().hide();
        $(".sec4_img_box ."+class_name).stop().show();
    });

    let num = 0;

    // 윈도우 준비
    $(document).ready(function () {
        for (let i = 0; i <= 6; i++) {
            $(".sec3_item").eq(i).stop().css({left: 260 * i});
            // .css({"background":"url(./static/imgs/sec3_ch"+i+".png)"});
        }

        for (let b = 0; b <= 7; b++) {
            $(".sec4_img_item").eq(b).find(".sec4_img_bg").stop().css({
                "background": "url(./static/imgs/sec4_ch" + b + ".png",
                'background-repeat': 'no-repeat',
                'background-position': 'center',
                'background-size': 'cover'
            });
        }

        win_width_event();

    });

    // 윈도우 리사이즈
    $(window).resize(function () {
        win_width_event();
    });

    function win_width_event() {
        let win_width = $(window).width() + 17;
        if (win_width <= 650) {
            $(".firstNav").stop().fadeOut();
            $(".lastNav").stop().fadeOut();
            $(".ham").stop().fadeIn();

        } else if (win_width > 650) {
            $(".firstNav").stop().fadeIn();
            $(".lastNav").stop().fadeIn();
            $(".ham").stop().fadeOut();

            $(".ham_close").stop().fadeOut();
            $(".ham_pop").stop().fadeOut();
        }
    }

    // 마우스 휠
    $(window).on("wheel", function (event) {
        // ani_img = $("html").is(":animated")  // :animated 움직이는 요소
        // e.preventDefault() 는 고유 동작을 중단시키고,
        // e.stopPropagation() 는 상위 엘리먼트들로의 이벤트 전파를 중단시킨다.
        const ani_img = $("html").is(":animated")

        if (event.originalEvent.deltaY < 0 && !ani_img) {
            // wheeled up
            $(".header").stop().css({
                top: "0px"
            })
        } else if (event.originalEvent.deltaY > 0 && !ani_img) {
            // wheeled down
            $(".header").stop().css({
                top: "-90px"
            })
        }
    });

    // 네비게이션 햄 버튼 클릭
    $(".ham").click(function () {
        $(".ham_close").stop().fadeIn();
        $(".ham_pop").stop().fadeIn();
        $(".ham").stop().fadeOut();
    });
    // 네비게이션 햄 클로즈 버튼 클릭
    $(".ham_close").click(function () {
        $(".ham_close").stop().fadeOut();
        $(".ham_pop").stop().fadeOut();
        $(".ham").stop().fadeIn();
    });

    // 섹션3 팝업 이미지 클릭
    $(".sec3_item").click(function () {
        let i = $(this).index();
        $(".sec3_pop").stop().fadeIn();
        $(".sec3_bg").stop().fadeIn();
        $(".sec3_pop_img").stop().css({
            "background": "url(./static/imgs/sec3_ch" + i + ".png",
            'background-repeat': 'no-repeat',
            'background-position': 'center',
            'background-size': 'cover'
        });

    });
    // 섹션3 팝업 클로즈 클릭
    $(".sec3_pop_close").click(function () {
        $(".sec3_pop").stop().fadeOut();
        $(".sec3_bg").stop().fadeOut();
    });

    // 섹션3 슬라이드 왼쪽 버튼
    $(".sec3_leftBtn").click(function () {
        if (num > 0) {
            num--
            $(".sec3_Box").stop().animate({left: num * -260});
        }
    });
    // 섹션3 슬라이드 오른쪽 버튼
    $(".sec3_rightBtn").click(function () {
        if (num < 3) {
            num++
            $(".sec3_Box").stop().animate({left: num * -260});
        }
    });

    // 섹션4 엔터키 누르거나 돋보기 눌러서 검색
    $("#keyword").keyup(function (e) {
        let name = $(this).val();
        let temp = $(".sec4_img_name:contains('" + name + "')");

        if (e.keyCode == 13) {
            $(".sec4_img_item").hide();
            $(temp).parent().show();
            console.log(temp)
        }

        $("#keyword2").click(function (){
            $(".sec4_img_item").hide();
            $(temp).parent().show();
        });

    });







</script>
</html>